*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  .capilot-overlay {
    font-weight: 100;
    margin-top: 2%;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0); /* So‘nggi fon rangi */
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease; /* Animatsiya */
      z-index: 9999; /* yuqorida bo‘lishi uchun */
    }
    .lak{
      display: flex;
      align-items: center;
      
    }
    .imat{
      width: 25px;
      height: 25px;
      margin-top: 10px;
      border-radius: 50%;
    }
    .capilot-overlay.open {
      opacity: 1;
      visibility: visible;
    }
    .modal-container {
      border-radius: 8px;

  text-align: center;
  line-height: 30px;
      top: 130px;
      right: 50px;
      border: 1px solid grey;
      z-index: 1000;

     padding: 10px 10px;
      background-color: rgb(255, 255, 255);
      position: fixed;
     
    }
    
    .capilot-box {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(105, 105, 105, 0.336);

      margin-left: 60%;
      border-radius: 6px;
      padding: 20px 15px;
      width: 500px;
      height: 530px;
      position: relative;
  /*   
      margin-top: -35.5%; */
    }
 .atr{
  display: flex;
  width: 470px;
  align-items: center;
  justify-content: end;
 }
 .alik{
   border: 1px solid  rgba(105, 105, 105, 0.336);
   border-radius: 7px;
   padding: 10px;
 }

 
.chiiq{
  width: 1px;
  height: 20px;
  background-color: black;
}
.sete{
  display: flex;
  align-items: center;
  gap: 10px;
}
.cpapilei{
  border: none;
  background-color: white;
  cursor: pointer;

}
.cpapilei:active{
  color: rgb(0, 47, 255);
}
.korsa{
  text-align: center;
}
.repaaa{
  height: 25px;
  padding: 5px 10px;

}
.repo-item:hover{
  background-color: rgb(212, 211, 211);
}
.repo-list{
  overflow-y: scroll;
  height: 130px;

}
.search-input{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  padding-left: 20px;
  border: 1px solid gray;
}
.search-input:focus {
  outline: none;
   border: 2px solid blue;
}
.repo-item{
  width: 420px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aksem{
  padding: 3px 3px;
  box-shadow: 0px -1px 0px 0px gray;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aksem:hover{
  background-color: rgb(212, 211, 211);
}
.tooltip-chiqw {
  visibility: hidden;
  position: absolute;
  top: 9%;
  left: 80%;
  transform: translateX(-50%);
  background-color: black;
  color: #fff;
  padding: 6px 7px;
  border-radius: 5px;
  margin-top: 5px;
  white-space: nowrap;
  z-index: 10;
  transition: opacity 0.3s ease;
  opacity: 0;
}
.cpapilei:hover .tooltip-chiqw {
  visibility: visible;
  opacity: 1;
}

.modal-capi{

display: grid;
}

.incgat{
  display: flex;align-items: center;
  gap: 10px;
  height: 30px;
border-radius: 5px;
  border: none;
  padding: 5px 6px;
  background-color: #fff;
  cursor: pointer;
}
.incgat:hover{
  background-color: rgba(180, 180, 180, 0.459);
}
    @media (max-width: 768px) {
      .capilot-box {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(105, 105, 105, 0.336);
        margin-top: 9%;
          margin-left: -20%;
          border-radius: 6px;
          padding: 20px 15px;
          width: 450px;
          height: 530px;
          position: relative;
      /*   
          margin-top: -35.5%; */
        }
        .atr{
          display: flex;
          width: 420px;
          align-items: center;
          justify-content: end;
         }
         .modal-container {
          border-radius: 8px;
    
      text-align: center;
      line-height: 30px;
          top: 110px;
          right: 600px;
          border: 1px solid grey;
          z-index: 1000;
    
         padding: 10px 10px;
          background-color: rgb(255, 255, 255);
          position: fixed;
         
        }
    }
  
  